* {
    box-sizing: border-box;
}

:root {
    --header-color: #10375c;
    --primary-color: #2e80ce;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Sora", sans-serif;
}

a {
    text-decoration: none;
}

/* Common */
.container {
    width: 1170px;
    max-width: calc(100%-48px);
    margin-left: auto;
    margin-right: auto;
}

.logo {
    display: flex;
    align-items: center;
}

.logo__text {
    margin-left: 6px;
    text-align: right;
}

.logo__text--shine {
    color: #fff;
    font-size: 1.8rem;
    line-height: 0.77;
}

.logo__text--smile {
    color: #fff;
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 1.16;
}

.btn {
    display: inline-block;
    width: 205px;
    background: var(--primary-color);
    border-radius: 30px;
    color: #fff;
    text-align: center;
    font-size: 1.8rem;
    line-height: 60px;
}

.btn:hover {
    opacity: 0.9;
}

.section-heading {
    color: var(--header-color);
    font-size: 5rem;
    font-weight: 600;
    line-height: 1.2; /* 120% */
    letter-spacing: -1px;
}

.section-desc {
    color: #575f66;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.66; /* 166.667% */
}

/* Header */
.header {
    min-height: 100vh;
    background: var(--header-color);
}

.header-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0 8px;
}

.navbar__list {
    display: flex;
    gap: 42px;
}

.navbar__link {
    color: #c9d2da;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75; /* 175% */
}

.navbar__link:hover,
.header-action__login:hover {
    text-shadow: 1px 0 0 currentColor;
}

.navbar__link--active {
    position: relative;
}

.navbar__link--active::before {
    content: "";
    display: inline-block;
    position: absolute;
    top: 7px;
    left: -14px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #ffffff;
}

.header-action {
    display: flex;
    gap: 28px;
    align-items: center;
}

.header-action__login {
    color: #c9d2da;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75; /* 175% */
}

.header-action__signup {
    width: 104px;
    font-size: 1.6rem;
    line-height: 44px;
}

/* Hero */
.hero {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 68px;
}

.hero__content {
    flex-shrink: 0;
    max-width: 44.2%;
}

.hero__heading {
    color: #fff;
    font-size: 7rem;
    font-weight: 600;
    line-height: 1.14; /* 114.286% */
    letter-spacing: -1.4px;
}

.hero__desc {
    margin-top: 22px;
    color: #c9d2da;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.66; /* 166.667% */
}

.hero__row {
    display: flex;
    margin-top: 38px;
    align-items: center;
    gap: 38px;
}

.hero__phone {
    color: #fff;
    font-size: 1.8rem;
    line-height: 1.66; /* 166.667% */
}

.hero__media {
    flex-grow: 1;
}

.hero__images {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: flex-end;
}

.hero__img {
    border-radius: 6px;
    object-fit: cover;
}

.hero__img--big {
    width: 330px;
    height: 540px;
    z-index: 1;
}

.hero__img--small {
    width: 210px;
    height: 410px;
    margin-left: -6px;
}

/* service */
.service {
    margin-top: 170px;
}

.service__top {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.service__desc {
    width: 468px;
    margin-top: 18px;
    text-align: center;
}

.service__row {
    display: flex;
    align-items: center;
    margin-top: 70px;
}

.service__images {
    width: 48.8%;
}

.service__img {
    width: 570px;
    height: 570px;
    border-radius: 12px;
    object-fit: cover;
    vertical-align: bottom;
}

.service-item {
    display: flex;
    width: 470px;
    padding: 21px 22px 20px;
    margin-left: 130px;
    border-radius: 30px;
}

.service-item__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #eff6fd;
    color: var(--header-color);
}

.service-item__body {
    width: 310px;
    padding-left: 19px;
}

.service-item__heading {
    color: var(--header-color);
    font-size: 1.8rem;
    font-weight: 600;
    line-height: normal;
}

.service-item__desc {
    margin-top: 8px;
    font-size: 1.6rem;
    line-height: 1.75;
}

.service-item:hover {
    box-shadow: 0px 14px 28px 0px rgba(0, 0, 0, 0.05);
}

.service-item:hover .service-item__icon {
    background: var(--primary-color);
    color: #fff;
}

.service__link {
    margin: 55px 0 0 130px;
}

/* work */
.work {
    margin-top: 170px;
    background: #f6fbff;
    padding: 100px 0;
}

.work .heading {
    color: var(--header-color);
    font-size: 5rem;
    font-weight: 600;
    line-height: 1.2; /* 120% */
    letter-spacing: -1px;
}

.work .work-top .desc {
    margin-top: 18px;
    max-width: 40%;
    color: #575f66;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.66; /* 166.667% */
}

.work-list {
    height: 418px;
    margin-top: 70px;
    display: flex;
    gap: 30px;
}

.work-item {
    height: 402px;
    background: #eaf6ff;
    padding: 16px;
    border-radius: 4px;
    margin-top: 16px;
    transition: 0.25s;
}

.work-item:hover {
    margin-top: 0;
    background-color: #2e80ce;
}

.work-item-content {
    background: #ffffff;
    padding: 43px 42px;
    border-radius: 4px;
}

.work-item .icon {
    width: 72px;
    height: 72px;
}

.work-item .title {
    margin-top: 18px;
    color: var(--header-color);
    font-size: 2.6rem;
    font-weight: 600;
    line-height: 1.38; /* 138.462% */
}

.work-item .desc {
    margin: 28px 0 18px;
    color: #575f66;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75; /* 175% */
}

.work-item .link {
    color: #575f66;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75; /* 175% */
}

.work-item:hover .link {
    color: #2e80ce;
}

/* feature */
.feature {
    margin-top: 170px;
}

.feature .box-feature {
    display: flex;
    align-items: center;
}

.feature .images {
    width: 570px;
    height: 491px;
    position: relative;
}

.feature .img-block {
    width: 512px;
    height: 370px;
    object-fit: cover;
    border-radius: 6px;
    vertical-align: bottom;
}

.feature .img {
    position: absolute;
    width: 332px;
    height: 370px;
    object-fit: cover;
    border-radius: 6px;
    vertical-align: bottom;
    right: 0;
    top: 121px;
}

.feature .content {
    width: 470px;
    margin-left: auto;
}

.feature .heading {
    color: var(--header-color);
    font-size: 5rem;
    font-weight: 600;
    line-height: 1.2; /* 120% */
    letter-spacing: -1px;
}

.feature .desc {
    margin-top: 18px;
    color: #575f66;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.66; /* 166.667% */
}

.feature .btn {
    margin-top: 38px;
}

/* member */
.member {
    margin-top: 170px;
}

.header-member {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.member .heading {
    color: var(--header-color);
    font-size: 5rem;
    font-weight: 600;
    line-height: 1.2; /* 120% */
    letter-spacing: -1px;
    margin-bottom: 38px;
}

.member-list {
    margin-top: 70px;
    display: flex;
    gap: 30px;
}

.member-item {
    flex: 1;
}

.member-bg {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 318px;
    background: #eaf6ff;
}

.member-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.member-name {
    margin-top: 12px;
    color: var(--header-color);
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75; /* 175% */
}

.member-info .desc {
    color: #575f66;
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 1.85; /* 185.714% */
}

.member-action {
    margin-top: 38px;
    display: flex;
    justify-content: center;
    gap: 18px;
}

.member-action .left,
.member-action .right {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    border: 1px solid #575f66;
    border-radius: 50%;
}

.member-action .left:hover,
.member-action .right:hover {
    color: #fff;
    background: #2e80ce;
    border: #2e80ce;
}

/* install */
.install {
    margin-top: 265px;
}

.install-bg {
    position: relative;
    height: 427px;
    display: flex;
    align-items: center;
    background: #2e80ce;
    padding: 0 70px 0;
}

.install .phone {
    position: absolute;
    bottom: 0;
    vertical-align: bottom;
}

.install .content {
    width: 586px;
    margin-left: auto;
}

.install .heading {
    width: 489px;
    color: #fff;
    font-size: 5rem;
    font-weight: 600;
    line-height: 1.2; /* 120% */
    letter-spacing: -1px;
}

.install .desc {
    margin-top: 18px;
    color: #fff;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.66; /* 166.667% */
}

.install-app {
    margin-top: 38px;
    display: flex;
    gap: 28px;
}
